-
	//- проверка данных получаемых из props миксинов
	const callShortcutCheckStore = shortcutCheckStore(props);
	const DATA = callShortcutCheckStore.DATA;
	const STYLE = callShortcutCheckStore.STYLE;
	const OPT = callShortcutCheckStore.OPT;
	const ELEM = callShortcutCheckStore.ELEM;
	const ARR = callShortcutCheckStore.ARR;
