mixin titleH1(props)
	//- подключение проверки пропросов
	include ../shared/shortcut-check-store

	mj-text(font-size='28px' color=STYLE('color') font-weight=STYLE('fw') line-height='38px')
		| !{DATA('text')}
		if OPT('arrow')
		| !{'&nbsp;&nbsp;&nbsp;&#129126;'}
