mixin footer(props)
	//- подключение проверки пропросов
	include ../shared/shortcut-check-store

	mj-section(background-color='#EA5658' padding='45px')
		mj-column(width='100%')
			+titleH1(ELEM('titleH1'))
			+spacerInColumn(ELEM('spacerInColumn1'))
		+contactsGroup(ELEM('contactsGroup1'))
		mj-column(width='100%')
			+spacerInColumn(ELEM('spacerInColumn2'))
		+contactsGroup(ELEM('contactsGroup2'))
		mj-column(width='100%')
			+spacerInColumn(ELEM('spacerInColumn2'))
		+contactsGroup(ELEM('contactsGroup3'))
		mj-column(width='100%')
			+spacerInColumn(ELEM('spacerInColumn3'))
			mj-image(width='92px' align='left' src= DATA('logo'))
