mj-title Письма направляемые с сайта посетителям
mj-attributes
	mj-text(
		padding='0'
		font-family='Verdana'
		font-size='14px'
		line-height='21px'
	)/
	mj-section(padding='0')/
	mj-divider(padding='0')/
	mj-image(padding='0')/
	mj-class(name='footer-bg' background-color='#77787B')/
	mj-class(name='footer-text' font-size='14px' line-height='20px' align='center')/
mj-style(inline='inline').
	.yandex-width {
		width: 295px !important;
	}
	.header-top {
		padding: 45px 45px 0 45px;
		height: 180px;
		box-sizing: border-box;
	}
	.header-bottom {
		padding: 0 45px 45px 45px;
		box-sizing: border-box;
	}
mj-style.
	//.header__column {
	//	width: 100% !important;
	//	max-width: 100%;
	//	height: 50%;
	//}
	//@media only screen and (max-width:480px) {
	//	.yandex-width {
	//		width: 100% !important;
	//	}
	//}
	//@media only screen and (min-width:480px) {
	//		.yandex-width {
	//			width: 295px !important;
	//		}
	//}
