mj-section(text-align='center', background-color='#ea5658', css-class='header')
	mj-column(css-class='header__column')
		mj-text
			| LOGO
	mj-column(css-class='header__column')
		+title
			| #{ mailPage.header.title }
-
	console.log(mailPage.header)
	let a = 'sdsd'
