mixin section-contacts(props)
	//- подключение проверки пропросов
	include ../shared/shortcut-check-store

	mj-section(background-color='#EA5658' padding='45px')
		mj-column
			+titleH1(ELEM('titleH1'))