//- ПОдключение вспомогательных функций
include ../../shared/helpers

//- Подключение store страницы для передачи данных
include ./store/mail-page.store.pug

//- Подключение компонентов для вызова в pages или sections
include ../../components/components

mjml
	mj-head
		//- HEAD письма
		include ../../sections/head

	mj-body
		//- HEADER письма
		include ../../sections/header
		+header(mailPage.header)

		// Отступ между секциями
		+mjSpacer('50px')

		//- Сеекция SECTION-WELCOME
		include ../../sections/section-welcome
		+section-welcome(mailPage.sectionWelcome)

		// Отступ между секциями
		+mjSpacer('50px')

		//- Сеекция SECTION-DECOR
		include ../../sections/section-decor
		+section-decor(mailPage.sectionDecor)

		// Отступ между секциями
		+mjSpacer('50px')

		//- Сеекция SECTION-DECOR
		include ../../sections/section-office
		+section-office(mailPage.sectionOffice)

		// Отступ между секциями
		+mjSpacer('50px')

		//- Сеекция SECTION-ACCESS
		include ../../sections/section-accesses
		+section-accesses(mailPage.sectionAccesses)

		// Отступ между секциями
		+mjSpacer('50px')

		//- Сеекция FOOTER
		include ../../sections/footer
		+footer(mailPage.footer)
