//- Объявление переменной страницы
- let mailPage = addSections();

//- данные секции HEADER
include mail-page-header
- mailPage.section = 'header';

-
	const tables = [
		{
			title: 'Контактные данные',
			columns: [
				{
					name: 'Номер мобильного телефона',
					description: '+7 (900) 123-45-67'
				},
				{
					name: 'Адрес электронной почты',
					description: 'konstantinopolsky@gmail.com',
					borderBottom: false
				}
			]
		},
		{
			spacerTop: true,
			title: 'Заявка № 12750',
			columns: [
				{
					name: 'Фамилия',
					description: 'Константинопольский'
				},
				{
					name: 'Имя',
					description: 'Константин'
				},
				{
					name: 'Отчество2',
					description: 'Константинович'
				},
				{
					name: 'Дополнительная информация',
					description: 'Дополнительная информация, возможно, в несколько строк',
					borderBottom: false
				}
			]
		},
		{
			spacerTop: true,
			title: 'Заявка № 12751',
			columns: [
				{
					name: 'Фамилия',
					description: 'Константинопольский'
				},
				{
					name: 'Имя',
					description: 'Константин'
				},
				{
					name: 'Отчество2',
					description: 'Константинович'
				},
				{
					name: 'Дополнительная информация',
					description: 'Дополнительная информация, возможно, в несколько строк',
					borderBottom: false
				}
			]
		}
	]
