-
	const sectionWelcome = {
		elem: {
			textWelcome: {
				data: {
					text: 'Привет! Евгений Севостьянов.'
				},
				style: {
					fw: '600',
					fs: '18px',
					lh: '32px'
				}
			},
			spacerInColumn1: {
				style: {
					height: '30px'
				}
			},
			textDescription: {
				data: {
					text: 'Рады приветствовать тебя в Russian Robotics Group. Теперь ты часть команды AIC юнита!'
				},
				style: {
					fs: '18px',
					lh: '27px'
				}
			},
			spacerInColumn2: {
				style: {
					height: '40px'
				}
			},
			titleH2: {
				data: {
					text: 'ЭТОТ ЧЕК-ЛИСТ ПОМОЖЕТ ТЕБЕ <br> ПОНЯТЬ, КУДА ТЫ ПОПАЛ <br> И ЧТО С ЭТИМ ДЕЛАТЬ :)'
				}
			}
		}
	}