-
	const sectionAccesses = {
		elem: {
			titleH1: {
				data: {
					text: 'ДОСТУПЫ'
				},
				style: {
					color: '#000000',
					fw: '600',
				}
			},
			spacerInColumn1: {
				style: {
					height: '20px'
				}
			},
			textDescription1: {
				data: {
					text: 'Поздравляем, корпоративную почту ты уже получил! Теперь лови доступы к важным и необходимым ресурсам.'
				},
				style: {
					fs: '14px',
					fw: '500'
				}
			},
			spacerInColumn2: {
				style: {
					height: '50px'
				}
			},
			titleH1BookStack: {
				data: {
					text: 'BOOKSTACK '
				},
				style: {
					color: '#000000',
					fw: '600',
				}
			},
			textDescription2: {
				data: {
					text: 'Это главная площадка Russian Robotics Group: здесь мы храним всю информацию о нашей компании, можно найти ответы на вопросы, обучающие материалы, образцы необходимых документов, инструкции к программам, полезные статьи, ссылки и фотоотчеты.'
				},
				style: {
					fs: '14px',
					fw: '500'
				}
			},
			textDescription3: {
				data: {
					text: 'Чтобы познакомиться с ним, давай начнем с главы ONBOARDING'
				},
				style: {
					fs: '14px',
					fw: '500'
				}
			},
			spacerInColumn3: {
				style: {
					height: '10px'
				}
			},
			listItem1: {
				data: {
					text: 'Познакомься с коллегами в разделе «Коллеги» '
				}
			},
			listItem2: {
				data: {
					text: 'Посмотри, что мы думаем о «Дресс-коде» '
				}
			},
			listItem3: {
				data: {
					text: 'Изучи раздел «Взаимоотношения» '
				}
			},
			listItem4: {
				data: {
					text: 'Прочти правила «Корпоративной переписки» '
				}
			},
			titleH1TaskTracker: {
				data: {
					text: 'TASK TRACKER'
				},
				style: {
					color: '#000000',
					fw: '600',
				}
			},
			textDescription4: {
				data: {
					text: 'Для работы над проектами в твоем юните используют TASK TRACKER AtiveCollab!'
				},
				style: {
					fs: '14px',
					fw: '500'
				}
			},
			textDescription5: {
				data: {
					text: 'Вот твои доступы к этой программе:'
				},
				style: {
					fs: '14px',
					fw: '500'
				}
			},
			listItem5: {
				data: {
					text: 'Логин:'
				}
			},
			listItem6: {
				data: {
					text: 'Пароль: '
				}
			},
			titleH1EventCalendar: {
				data: {
					text: 'EVENT КАЛЕНДАРЬ'
				},
				style: {
					color: '#000000',
					fw: '600',
				}
			},
			textDescription6: {
				data: {
					text: 'Для того, чтобы не пропускать события компании, удобно назначать встречи и контролировать свою занятость, мы используем event-календарь. Досуп к нему работает с корпоративной почты.'
				},
				style: {
					fs: '14px',
					fw: '500'
				}
			},
			textDescription7: {
				data: {
					text: 'Кстати, у тебя уже назначена встреча!'
				},
				style: {
					fs: '14px',
					fw: '500'
				}
			},
			listItem7: {
				data: {
					text: 'Принять приглашение'
				}
			},
		}
	}