-
	const sectionOffice = {
		elem: {
			titleH1: {
				data: {
					text: 'ОФИС'
				},
				style: {
					color: '#000000',
					fw: '600',
				}
			},
			spacerInColumn1: {
				style: {
					height: '20px'
				}
			},
			textDescription1: {
				data: {
					text: 'Сейчас наши кабинеты преимущественно разделены по юнитам. Это сделано для того, чтобы было удобнее коммуницировать в рамках проектов. Но это не значит, что мы привязаны к своему рабочему месту. Ты всегда можешь прийти в любой кабинет, чтобы пообщаться с ребятами или поиграть в PlayStation. Переговорная в нашем офисе доступна без бронирования, нужно только предупредить коллег. Переговорную «Сергея Галицкого» нужно бронировать предварительно — написав офис-менеджеру.'
				},
				style: {
					fs: '14px',
					fw: '500'
				}
			},
			spacerInColumn2: {
				style: {
					height: '55px'
				}
			},
			titleH1Schedule: {
				data: {
					text: 'График работы и обеденный перерыв'
				},
				style: {
					color: '#000000',
					fw: '600',
				}
			},
			textDescription2: {
				data: {
					text: 'У нас гибкое начало рабочего дня – можешь приходить с 8:00 до 10:00.'
				},
				style: {
					fs: '14px',
					fw: '500'
				}
			},
			textDescription3: {
				data: {
					text: 'Выбирай удобный режим, главное, чтобы рабочий день составлял 8 часов.'
				},
				style: {
					fs: '14px',
					fw: '500'
				}
			},
			textDescription4: {
				data: {
					text: 'Обеденное время – один час, ты можешь выбрать его самостоятельно. Пообедать можно на нашей кухне или в кафе на первом этаже.'
				},
				style: {
					fs: '14px',
					fw: '500'
				}
			},
		}
	}