//- Объявление переменной страницы
- let mailPage = addSections();

//- данные секции HEADER
include mail-page-header
- mailPage.section = 'header';

//- данные секции WELCOME
include mail-page-section-welcome
- mailPage.section = 'sectionWelcome';

//- данные секции DECOR
include mail-page-section-decor
- mailPage.section = 'sectionDecor';

//- данные секции OFFICE
include mail-page-section-office
- mailPage.section = 'sectionOffice';

//- данные секции ACCESSES
include mail-page-section-accesses
- mailPage.section = 'sectionAccesses';

//- данные секции CONTACTS
include mail-page-footer
- mailPage.section = 'footer';
