-
	const sectionDecor = {
		elem: {
			titleH1: {
				data: {
					text: 'ОФОРМЛЕНИЕ'
				},
				style: {
					color: '#000000',
					fw: '600'
				}
			},
			spacerInColumn1: {
				style: {
					height: '20px'
				}
			},
			textDescription1: {
				data: {
					text: 'Теперь дело за малым! Отнеси свои документы нашему специалисту по кадрам.'
				},
				style: {
					fs: '14px',
					fw: '500'
				}
			},
			listItem: {
				data: {
					text: 'Оформи официальное трудоустройство '
				}
			},
			textDescription2: {
				data: {
					text: 'Пока документы в обработке, время рассказать о себе! В Russian Robotics Group есть отличная традиция - не только работать, но и дружить с компанией. Чтобы лучше знать об увлечениях друг друга, мы придумали собирать эту информацию в одном месте! '
				},
				style: {
					fs: '14px',
					fw: '500'
				}
			},
			spacerInColumn2: {
				style: {
					height: '40px'
				}
			},
			listItem1: {
				data: {
					text: 'Заполни анкету '
				}
			},
		}
	}