-
	const footer = {
		data: {
			logo: 'https://i.ibb.co/j6JwGnZ/logo.png'
		},
		elem: {
			titleH1: {
				data: {
					text: 'КОНТАКТЫ'
				},
				style: {
					color: '#ffffff',
					fw: '600'
				}
			},
			spacerInColumn1: {
				style: {
					height: '40px'
				}
			},
			contactsGroup1: {
				elem: {
					contactsLeft: {
						elem: {
							textTitle: {
								data: {
									text: 'ОТДЕЛ КАДРОВ'
								},
								style: {
									fs: '14px',
									fw: '600',
									color: '#FFFFFF'
								}
							},
							spacerInColumn: {
								style: {
									height: '10px'
								}
							},
							textName: {
								data: {
									text: 'Ольга Птахина'
								},
								style: {
									fs: '12px',
									fw: '500',
									color: '#FFFFFF'
								}
							},
							linkTel: {
								data: {
									text: '+7 (988) 400 01 03',
									link: 'tel:+79884000103'
								},
								style: {
									fs: '12px'
								}
							},
							linkTg: {
								data: {
									text: '@olgaptakhina',
									link: 'https://t.me/olgaptakhina'
								},
								style: {
									fs: '12px'
								}
							}
						}
					},
					contactsRight: {
						elem: {
							textTitle: {
								data: {
									text: 'HR-менеджер'
								},
								style: {
									fs: '14px',
									fw: '600',
									color: '#FFFFFF'
								}
							},
							spacerInColumn: {
								style: {
									height: '10px'
								}
							},
							textName: {
								data: {
									text: 'Карина Серая'
								},
								style: {
									fs: '12px',
									fw: '500',
									color: '#FFFFFF'
								}
							},
							linkTel: {
								data: {
									text: '+7 (928) 663 57 52',
									link: 'tel:+79286635752'
								},
								style: {
									fs: '12px'
								}
							},
							linkTg: {
								data: {
									text: '@SerayaHR',
									link: 'https://t.me/SerayaHR'
								},
								style: {
									fs: '12px'
								}
							}
						}
					}
				}
			},
			spacerInColumn2: {
				style: {
					height: '65px'
				}
			},
			contactsGroup2: {
				elem: {
					contactsLeft: {
						elem: {
							textTitle: {
								data: {
									text: 'PROJECT-МЕНЕДЖЕР'
								},
								style: {
									fs: '14px',
									fw: '600',
									color: '#FFFFFF'
								}
							},
							spacerInColumn: {
								style: {
									height: '10px'
								}
							},
							textName: {
								data: {
									text: 'Хачатур Казаджян'
								},
								style: {
									fs: '12px',
									fw: '500',
									color: '#FFFFFF'
								}
							},
							linkTel: {
								data: {
									text: '+7 (918) 234 39 99',
									link: 'tel:+79182343999'
								},
								style: {
									fs: '12px'
								}
							},
							linkTg: {
								data: {
									text: '@iamkhacho',
									link: 'https://t.me/iamkhacho'
								},
								style: {
									fs: '12px'
								}
							}
						}
					},
					contactsRight: {
						elem: {
							textTitle: {
								data: {
									text: 'JUNIOR HR-МЕНЕДЖЕР'
								},
								style: {
									fs: '14px',
									fw: '600',
									color: '#FFFFFF'
								}
							},
							spacerInColumn: {
								style: {
									height: '10px'
								}
							},
							textName: {
								data: {
									text: 'Полина Подкорытова'
								},
								style: {
									fs: '12px',
									fw: '500',
									color: '#FFFFFF'
								}
							},
							linkTel: {
								data: {
									text: '+7 (938) 434 14 00',
									link: 'tel:+79384341400'
								},
								style: {
									fs: '12px'
								}
							},
							linkTg: {
								data: {
									text: '@podkorytovva',
									link: 'https://t.me/podkorytovva'
								},
								style: {
									fs: '12px'
								}
							}
						}
					}
				}
			},
			contactsGroup3: {
				elem: {
					contactsLeft: {
						elem: {
							textTitle: {
								data: {
									text: 'ОФИС-МЕНЕДЖЕР'
								},
								style: {
									fs: '14px',
									fw: '600',
									color: '#FFFFFF'
								}
							},
							spacerInColumn: {
								style: {
									height: '10px'
								}
							},
							textName: {
								data: {
									text: 'Марина Федорова'
								},
								style: {
									fs: '12px',
									fw: '500',
									color: '#FFFFFF'
								}
							},
							linkTel: {
								data: {
									text: '+7 (999) 131 01 08',
									link: 'tel:+79991310108'
								},
								style: {
									fs: '12px'
								}
							},
							linkTg: {
								data: {
									text: '@marinaafedorova',
									link: 'https://t.me/marinaafedorova'
								},
								style: {
									fs: '12px'
								}
							}
						}
					},
					contactsRight: {
						elem: {
							textTitle: {
								data: {
									text: 'СИСТЕМНЫЙ АДМИНИСТРАТОР'
								},
								style: {
									fs: '14px',
									fw: '600',
									color: '#FFFFFF'
								}
							},
							spacerInColumn: {
								style: {
									height: '10px'
								}
							},
							textName: {
								data: {
									text: 'Александр Малько'
								},
								style: {
									fs: '12px',
									fw: '500',
									color: '#FFFFFF'
								}
							},
							linkTel: {
								data: {
									text: '+7 (918) 672 92 31',
									link: 'tel:+79186729231'
								},
								style: {
									fs: '12px'
								}
							},
							linkTg: {
								data: {
									text: '@malkoaa',
									link: 'https://t.me/malkoaa'
								},
								style: {
									fs: '12px'
								}
							}
						}
					}
				}
			},
			spacerInColumn3: {
				style: {
					height: '75px'
				}
			},
		}
	}
