-
	const sectionWelcome = {
		data: {
			logo: 'https://i.ibb.co/X3C4jv0/Group-42097.png'
		},
		elem: {
			textWelcome: {
				data: {
					text: 'Привет! Антон Середа.'
				},
				style: {
					fw: '600',
					fs: '18px',
					lh: '32px'
				}
			},
			spacerInColumn1: {
				style: {
					height: '30px'
				}
			},
			textDescription: {
				data: {
					text: 'Рады приветствовать тебя в Russian Robotics Group. Теперь ты часть команды AIC юнита!'
				},
				style: {
					fs: '18px',
					lh: '27px'
				}
			},
			spacerInColumn2: {
				style: {
					height: '40px'
				}
			},
			spacerInColumn3: {
				style: {
					height: '20px'
				}
			},
			titleH2: {
				data: {
					text: 'ЭТОТ ЧЕК-ЛИСТ ПОМОЖЕТ ТЕБЕ <br> ПОНЯТЬ, КУДА ТЫ ПОПАЛ <br> И ЧТО С ЭТИМ ДЕЛАТЬ :)'
				}
			},
			titleH1: {
				data: {
					text: 'ПОЕХАЛИ!'
				},
				style: {
					color: '#EA5658',
					fw: '600'
				},
				opt: {
					arrow: true
				}
			},
			titleH2RusRobots: {
				data: {
					text: 'RUSSIAN ROBOTICS GROUP'
				}
			},
			textDescription2: {
				data: {
					text: 'Digital-решения для бизнеса и государства'
				},
				style: {
					fs: '18px',
					lh: '24px',
					fw: '500'
				}
			},
			spacerInColumn4: {
				style: {
					height: '10px'
				}
			},
			spacerInColumn5: {
				style: {
					height: '49px'
				}
			},
			places1: {
				data: {
					textLeft: '01',
					textInfoLeft: 'Мы - ПЕРВЫЕ в разработке<br> сайтов и сервисов Краснодара ',
					textRight: '02',
					textInfoRight: 'За нашими плечами более<br> 400 проектов  '
				},
			},
			places2: {
				data: {
					textLeft: '03',
					textInfoLeft: 'Помогаем бизнесу работать<br> эффективнее с помощью<br> digital-инструментов',
					textRight: '04',
					textInfoRight: 'Работаем в самом инновационном месте Краснодара'
				},
			},
		}
	}