-
	const footer = {
		data: {
			logo: 'https://i.ibb.co/j6JwGnZ/logo.png'
		},
		elem: {
			titleH1: {
				data: {
					text: 'КОНТАКТЫ'
				},
				style: {
					color: '#ffffff',
					fw: '600',
				}
			},
			spacerInColumn1: {
				style: {
					height: '40px'
				}
			},
			contactsGroup1: {
				elem: {
					contactsLeft: {
						elem: {
							textTitle: {
								data: {
									text: 'ОТДЕЛ КАДРОВ'
								}
							},
							spacerInColumn: {
								style: {
									height: '10px'
								}
							},
							textName: {
								data: {
									text: 'Ольга Птахина'
								}
							},
							linkTel: {
								data: {
									text: '+7 (988) 400 01 03',
									link: 'tel:+79884000103'
								}
							},
							linkTg: {
								data: {
									text: '@olgaptakhina',
									link: 'https://t.me/olgaptakhina'
								}
							}
						}
					},
					contactsRight: {
						elem: {
							textTitle: {
								data: {
									text: 'HR-менеджер'
								}
							},
							spacerInColumn: {
								style: {
									height: '10px'
								}
							},
							textName: {
								data: {
									text: 'Карина Серая'
								}
							},
							linkTel: {
								data: {
									text: '+7 (928) 663 57 52',
									link: 'tel:+79286635752'
								}
							},
							linkTg: {
								data: {
									text: '@SerayaHR',
									link: 'https://t.me/SerayaHR'
								}
							}
						}
					}
				}
			},
			spacerInColumn2: {
				style: {
					height: '65px'
				}
			},
			contactsGroup2: {
				elem: {
					contactsLeft: {
						elem: {
							textTitle: {
								data: {
									text: 'ОТДЕЛ КАДРОВ'
								}
							},
							spacerInColumn: {
								style: {
									height: '10px'
								}
							},
							textName: {
								data: {
									text: 'Ольга Птахина'
								}
							},
							linkTel: {
								data: {
									text: '+7 (988) 400 01 03',
									link: 'tel:+79884000103'
								}
							},
							linkTg: {
								data: {
									text: '@olgaptakhina',
									link: 'https://t.me/olgaptakhina'
								}
							}
						}
					},
					contactsRight: {
						elem: {
							textTitle: {
								data: {
									text: 'HR-менеджер'
								}
							},
							spacerInColumn: {
								style: {
									height: '10px'
								}
							},
							textName: {
								data: {
									text: 'Карина Серая'
								}
							},
							linkTel: {
								data: {
									text: '+7 (928) 663 57 52',
									link: 'tel:+79286635752'
								}
							},
							linkTg: {
								data: {
									text: '@SerayaHR',
									link: 'https://t.me/SerayaHR'
								}
							}
						}
					}
				}
			},
			contactsGroup3: {
				elem: {
					contactsLeft: {
						elem: {
							textTitle: {
								data: {
									text: 'ОТДЕЛ КАДРОВ'
								}
							},
							spacerInColumn: {
								style: {
									height: '10px'
								}
							},
							textName: {
								data: {
									text: 'Ольга Птахина'
								}
							},
							linkTel: {
								data: {
									text: '+7 (988) 400 01 03',
									link: 'tel:+79884000103'
								}
							},
							linkTg: {
								data: {
									text: '@olgaptakhina',
									link: 'https://t.me/olgaptakhina'
								}
							}
						}
					},
					contactsRight: {
						elem: {
							textTitle: {
								data: {
									text: 'HR-менеджер'
								}
							},
							spacerInColumn: {
								style: {
									height: '10px'
								}
							},
							textName: {
								data: {
									text: 'Карина Серая'
								}
							},
							linkTel: {
								data: {
									text: '+7 (928) 663 57 52',
									link: 'tel:+79286635752'
								}
							},
							linkTg: {
								data: {
									text: '@SerayaHR',
									link: 'https://t.me/SerayaHR'
								}
							}
						}
					}
				}
			},
			spacerInColumn3: {
				style: {
					height: '75px'
				}
			},
		}
	}
